<a class="btn btn-primary" id="offcanvas_btn" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvasExample">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
</a>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" dir="ltr">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">سامانه صاعقه</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">

    </div>
</div>
<style>
    #offcanvas_btn {
        position: fixed;
        left: 1vw;
        top: 30vh;
        z-index: 100;
        cursor: pointer;
    }
</style>