{% extends "base.html" %}
{% block title %}صاعقه - {{presentation.title}}{% endblock %}
{% block content %}
{% include 'teacher-offcanvas.html' %}
<div class="card bg-secondary-subtle border border-secondary text-center" id="card_classes">
        <div class="card-body">
            <h6 class="text-dark lalezar" id="title">ارائه</h6>
            <h3 class="text-dark lalezar" id="title">{{ presentation.title }}</h3>
        </div>
    </div>
    {% for slide in presentation.slides.all %}
        <div class="card bg-secondary-subtle border border-secondary text-center" id="card_classes">
            <div class="card-body" id="part{{ part.pk }}">
                <h4 class="text-dark lalezar" id="title">
                    اسلاید {{ forloop.counter }}
                </h4>
                {{ slide.body|safe }}
                <hr>
                <a href="{% url 'slide_delete' slide.pk %}" class="text-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                </a> &nbsp;
                <a href="{% url 'slide_update' slide.pk %}" class="text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                    </svg>
                </a>
                <br>
            </div>
        </div>
    {% endfor %}
    <div class="card bg-secondary-subtle border border-secondary text-center" id="card_classes">
        <div class="card-body">
            <a href="{% url 'slide_create' presentation.pk %}" class="text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg>
            </a>
            <br>
        </div>
    </div>
    <style>
        #card_classes {
            margin-top: 10vh;
            margin-bottom: 10vh;
            margin-right: 70px;
            margin-left: 5vw;
            padding-top: 1vh;
        }
        #title {
            background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: xx-large;
            padding-bottom: 5px;
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: 0.4s ease-out;
        }
        #table{
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .btn-h{
            border: none;
            transition: 0.4s ease-out;
        }
        .btn-h:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}